/*reset*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
}

a {
    color: $linkColor;
    transition: all .3s ease-in;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 2rem auto 8rem;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    margin: 0 0 2rem;
}

.button {
    background-color: $primaryColor;
    padding: .8rem 1.2rem;
    border-radius: 4px;
    font-weight: bold;

    &:hover {
        background-color: lighten($primaryColor, 10%);
        color: lighten($linkColor, 5%);
    }
}

/*overlay*/
.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: rgba(255,255,255, .6);
    backdrop-filter: blur(8px);

    &.active {
        opacity: 1;
        visibility: visible;
        transition: all .2s ease-in;
    }
}

/*header*/
header {
    position: relative;
    background-color: $primaryColor;
    padding: 3rem 0;

    .logo {
        display: block;
        max-width: 350px;
        margin: 0 auto;
        padding: 1.5rem;
    }
}

/*nav*/
@media (max-width: 767px) {
    .nav {
        z-index: 99;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: darken($primaryColor, 10);
        width: 270px;
        transform: translate3d(-270px, 0, 0);
        transition: transform .2s ease-in;
        padding: 2rem 0;
        box-shadow: 1px 0px 3px rgba(0,0,0, .2);

        &.active {
            transform: translate3d(0, 0, 0);
        }

        li {

            .nav-link {
                display: block;
                padding: 1rem 1.5rem;
                font-weight: bold;

                &:hover {
                    background-color: darken($primaryColor, 5%);
                    color: lighten($linkColor, 5%);
                }

            }
        }
    }
}

#mobile-menu {
    position: absolute;
    right: 1rem;
    bottom: .5rem;

    span {
        font-size: 2.5rem;
    }
}

/*menus*/
.menus {
    margin: 1rem 0;
}

.menu {

    h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    a {
        display: block;
        position: relative;
        overflow: hidden;
        box-shadow: 0 3px 10px rgba(0,0,0, .08);

        &:hover img {
            transform: scale(1.2);
            opacity: .6;
        }
    }

    img  {
        transition: all .3s;
        opacity: 1;
        box-shadow: 0 3px 10px rgba(0,0,0, .08);
    }
}

.one-menu {
    background-color: #fcdfdb;
    padding: 2rem 1rem;

    h2 {
        position: relative;
        font-size: 1.7rem;
        text-align: center;
        margin-bottom: 3rem;
        transition: all 2s ease-in;
        background: linear-gradient(to left, transparent 50%, rgba($linkColor, .5) 5%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 1s ease;


        &:hover {
            background-position: left bottom;
        }
    }

    ul {
        margin-bottom: 5rem;

        li {
            position: relative;
            font-size: 1.2rem;
            letter-spacing: 2px;
            margin: 0 auto 1.5rem;
            text-align: justify;

            span {
                display: block;
                text-align: center;
                font-weight: bold;
                margin-top: .5rem;
            }
        }
    }

    .header-menu {
        margin: 0 auto 2rem;
        text-align: center;

        h1 {
            font-size: 3rem;
        }

        img {
            width: 120px;
            margin-bottom: 1rem;
        }
    }

    .footer-menu {
        margin: 0 auto 2rem;
        text-align: center;

        img {
            width: 80px;
        }

        span {
            font-size: 1.7rem;
            vertical-align: middle;
        }

    }
}

.menu02 .one-menu {background-color: #fff5fe;}
.menu03 .one-menu {background-color: #edefef;}
.menu04 .one-menu {background-color: #fdfffd;}

/*prochainement*/
.soon {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 5rem;
    text-align: center;
    margin-top: 5rem;

    &:after {
        position: absolute;
        content: "\2026";
        animation: ellipsis steps(4,end) .9s infinite;
        width: 0;
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
    }
}

/*footer*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $primaryColor;
    padding: 1rem 0;
    font-weight: bold;

    .container {
        margin: 1rem auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: stretch;
        align-items: flex-start;
    }

    a {
        animation: shake .5s;
        animation-iteration-count: infinite;

        &:hover {
            animation: none;
        }
    }
}

.mentions-legales {
    .text {
        padding: 0 1.5rem;
    }
}