.menus {
    margin: 1rem 0;

    .menu {

        h1 {
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 2rem;
        }
    }
}

.one-menu {
    background-color: #fcdfdb;
    padding: 2rem 1rem;
    box-shadow: 0 3px 10px rgba(0,0,0, .08);

    h2 {
        position: relative;
        font-size: 1.7rem;
        text-align: center;
        margin-bottom: 3rem;

        span {@include underline-anim;}
    }

    ul {
        margin-bottom: 5rem;

        li {
            position: relative;
            font-size: 1.2rem;
            letter-spacing: 1px;
            margin: 0 auto 1.5rem;
            text-align: justify;

            @media (min-width: 768px) {
                text-align: center;
            }

            span {
                display: block;
                text-align: center;
                font-weight: bold;
                margin-top: .5rem;
            }
        }
    }

    .header-menu {
        margin: 0 auto 2rem;
        text-align: center;

        h1 {
            font-size: 3rem;
        }

        img {
            width: 120px;
            margin-bottom: 1rem;
        }
    }

    .footer-menu {
        margin: 0 auto 2rem;
        text-align: center;

        img {
            width: 80px;
        }

        span {
            font-size: 1.7rem;
            vertical-align: middle;
        }

    }
}

@media (min-width: 991px) {

    .one-menu {
        padding: 3rem 4rem;

    h2 {

        &:before,
        &:after {
            content: "";
            display: block;
            background-image: url("../img/border-01.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 30%;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
        }

        &:after {
            background-image: url("../img/border-02.png");
            right: 0;
            left: initial;
        }

    }

        ul {

            li {
                padding-right: 8rem;
                text-align: justify;

                span {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 0;
                }
            }
        }
    }

    .menu02 .one-menu h2::before {
        background-image: url("../img/border-03.png");
    }

    .menu02 .one-menu .section-menu-02 h2::before {
        background-image: url("../img/border-03a.png");
    }

    .menu02 .one-menu .section-menu-02 h2::after {
        background-image: url("../img/border-04a.png");
    }

    .menu02 .one-menu .section-menu-03 h2::before {
        background-image: url("../img/border-04b.png");
    }

    .menu02 .one-menu .section-menu-03 h2::after {
        background-image: url("../img/border-03b.png");
    }

    .menu02 .one-menu h2::after {
        background-image: url("../img/border-04.png");
    }

    .menu03 .one-menu h2::before {
        background-image: url("../img/border-05.png");
    }

    .menu03 .one-menu h2::after {
        background-image: url("../img/border-06.png");
    }
    
    .menu04 .one-menu h2::before {
        background-image: url("../img/border-07.png");
    }

    .menu04 .one-menu h2::after {
        background-image: url("../img/border-08.png");
    }
}