/* mobile */
@media (max-width: 767px) {
    .nav {
        z-index: 99;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: darken($primaryColor, 10);
        width: 270px;
        padding: 2rem 0;
        box-shadow: 1px 0px 3px rgba(0,0,0, .2);
        transform: translate3d(-270px, 0, 0);
        transition: transform .2s ease-in;

        &.active {
            transform: translate3d(0, 0, 0);
        }

        ul {
            li {
                .nav-link {
                    display: block;
                    padding: 1rem 1.5rem;
                    font-weight: bold;

                    &:hover {
                        background-color: darken($primaryColor, 5%);
                        color: lighten($linkColor, 5%);
                    }

                }
            }
        }
    }
}

#mobile-menu {
    position: absolute;
    right: 1rem;
    bottom: .5rem;

    span {
        font-size: 2.5rem;
    }
}

/* tablet */
@media (min-width: 768px) {
    
    .nav ul {
        max-width: 960px;
        margin: 0 auto;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: flex-start;
        align-items: flex-start;

        li {

            .nav-link {
                display: block;
                text-align: center;
                padding: 1rem;
                font-weight: bold;

                &:hover {
                    background-color: darken($primaryColor, 5%);
                    color: lighten($linkColor, 5%);
                    border-radius: 8px;
                }

            }
        }
    }

    #mobile-menu {display: none;}
}
