@import url(//fonts.googleapis.com/css?family=Leckerli+One|Open+Sans);
@import url(//fonts.googleapis.com/css?family=Croissant+One|Dancing+Script|Devonshire|Kalam|Kaushan+Script|Schoolbell);
@import url(//fonts.googleapis.com/css?family=Merriweather|Roboto+Slab);
@import url(//fonts.googleapis.com/css?family=Frank+Ruhl+Libre);
/*! destyle.css v1.0.11 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model
   ========================================================================== */

* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm
   ========================================================================== */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration)
   ========================================================================== */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition)
   ========================================================================== */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms
   ========================================================================== */

/**
 * Reset form fields to make them styleable
 * 1. Reset radio and checkbox to preserve their look in iOS.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

[type='checkbox'] {
  /* 1 */
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type='radio'] {
  /* 1 */
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type='button'][disabled],
[type='reset'][disabled],
[type='submit'][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Remove the padding in IE 10.
 */

[type='checkbox'],
[type='radio'] {
  padding: 0; /* 1 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type='search'] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Table
   ========================================================================== */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* partials */
.menu01 h1,
.menu01 .footer-menu span {
  font-family: 'Devonshire', cursive, sans-serif;
}

.menu01 h2,
.menu01 .one-menu li {
  font-family: 'Segoe Print', sans-serif;
}

.menu01 .menu-home-title {
  font-family: 'Devonshire', cursive, sans-serif;
}

.menu01 .menu-home-title span {
  font-family: 'Segoe Print', sans-serif;
}

.menu02 h1 {
  font-family: 'Croissant one', cursive, sans-serif;
}

.menu02 h2 {
  font-weight: bold;
}

.menu02 h2,
.menu02 .one-menu li {
  font-family: 'Roboto Slab', sans-serif;
}

.menu02 .menu-home-title {
  font-family: 'Croissant one', cursive, sans-serif;
}

.menu02 .menu-home-title span {
  font-family: 'Frank Ruhl Libre', serif;
}

.menu03 h1 {
  font-family: 'Dancing Script', cursive, sans-serif;
}

.menu03 h2,
.menu03 .one-menu li {
  font-family: 'Segoe Print', sans-serif;
}

.menu04 h1,
.menu04 .menu-home-title {
  font-family: 'Kaushan Script', cursive, sans-serif;
}

.menu04 .menu-home-title span,
.menu04 h2,
.menu04 .one-menu li {
  font-family: 'Segoe Print', sans-serif;
}

@-webkit-keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: .9em;
  }
}

@keyframes ellipsis {
  to {
    width: .9em;
  }
}

/* components */
::-moz-selection {
  background-color: #579c87;
  color: #ffcb4f;
  -webkit-text-fill-color: #ffcb4f;
}
::selection {
  background-color: #579c87;
  color: #ffcb4f;
  -webkit-text-fill-color: #ffcb4f;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
}

a {
  color: #ffcb4f;
  transition: all .3s ease-in;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 2rem auto 8rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 30px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  margin: 0 0 2rem;
}

.button {
  background-color: #579c87;
  padding: .8rem 1.2rem;
  border-radius: 4px;
  font-weight: bold;
}

.button:hover {
  background-color: #74b29f;
  color: #ffd369;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.overlay.active {
  opacity: 1;
  visibility: visible;
  transition: all .2s ease-in;
}

.soon {
  text-align: center;
  padding: .8rem 1.5rem;
}

.soon:after {
  position: absolute;
  content: "\2026";
  -webkit-animation: ellipsis steps(4, end) 0.9s infinite;
          animation: ellipsis steps(4, end) 0.9s infinite;
  width: 0;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
}

.menus .menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: .5rem;
  overflow: hidden;
}

.menus .menu a:hover h2 {
  font-size: 2.3rem;
}

.menus .menu a:hover h2 span {
  font-size: 2.7rem;
}

.menus .menu a img {
  display: block;
  width: 80px;
  margin: 0 auto .5rem;
  box-shadow: none;
}

.menus .menu a h2 {
  font-size: 2.2rem;
  text-align: center;
  transition: all .3s ease-in-out 0s;
}

.menus .menu a h2 span {
  display: block;
  font-size: 2.6rem;
  margin-top: 2rem;
  transition: all .3s ease-in-out 0s;
}

header {
  position: relative;
  background-color: #579c87;
  padding: 3rem 0;
}

header .logo {
  display: block;
  max-width: 350px;
  margin: 0 auto;
  padding: 1.5rem;
}

/* mobile */
@media (max-width: 767px) {
  .nav {
    z-index: 99;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #457b6b;
    width: 270px;
    padding: 2rem 0;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.2);
    transform: translate3d(-270px, 0, 0);
    transition: transform .2s ease-in;
  }
  .nav.active {
    transform: translate3d(0, 0, 0);
  }
  .nav ul li .nav-link {
    display: block;
    padding: 1rem 1.5rem;
    font-weight: bold;
  }
  .nav ul li .nav-link:hover {
    background-color: #4e8c79;
    color: #ffd369;
  }
}

#mobile-menu {
  position: absolute;
  right: 1rem;
  bottom: .5rem;
}

#mobile-menu span {
  font-size: 2.5rem;
}

/* tablet */
@media (min-width: 768px) {
  .nav ul {
    max-width: 960px;
    margin: 0 auto;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
  }
  .nav ul li .nav-link {
    display: block;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
  }
  .nav ul li .nav-link:hover {
    background-color: #4e8c79;
    color: #ffd369;
    border-radius: 8px;
  }
  #mobile-menu {
    display: none;
  }
}

.menus {
  margin: 1rem 0;
}

.menus .menu h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.one-menu {
  background-color: #fcdfdb;
  padding: 2rem 1rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.one-menu h2 {
  position: relative;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 3rem;
}

.one-menu h2 span {
  position: relative;
}

.one-menu h2 span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.one-menu h2 span:hover:before, .one-menu h2 span:hover:after {
  visibility: visible;
  transform: scaleX(1);
}

.one-menu ul {
  margin-bottom: 5rem;
}

.one-menu ul li {
  position: relative;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin: 0 auto 1.5rem;
  text-align: justify;
}

@media (min-width: 768px) {
  .one-menu ul li {
    text-align: center;
  }
}

.one-menu ul li span {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: .5rem;
}

.one-menu .header-menu {
  margin: 0 auto 2rem;
  text-align: center;
}

.one-menu .header-menu h1 {
  font-size: 3rem;
}

.one-menu .header-menu img {
  width: 120px;
  margin-bottom: 1rem;
}

.one-menu .footer-menu {
  margin: 0 auto 2rem;
  text-align: center;
}

.one-menu .footer-menu img {
  width: 80px;
}

.one-menu .footer-menu span {
  font-size: 1.7rem;
  vertical-align: middle;
}

@media (min-width: 991px) {
  .one-menu {
    padding: 3rem 4rem;
  }
  .one-menu h2:before, .one-menu h2:after {
    content: "";
    display: block;
    background-image: url(../img/border-01.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
  .one-menu h2:after {
    background-image: url(../img/border-02.png);
    right: 0;
    left: initial;
  }
  .one-menu ul li {
    padding-right: 8rem;
    text-align: justify;
  }
  .one-menu ul li span {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }
  .menu02 .one-menu h2::before {
    background-image: url(../img/border-03.png);
  }
  .menu02 .one-menu .section-menu-02 h2::before {
    background-image: url(../img/border-03a.png);
  }
  .menu02 .one-menu .section-menu-02 h2::after {
    background-image: url(../img/border-04a.png);
  }
  .menu02 .one-menu .section-menu-03 h2::before {
    background-image: url(../img/border-04b.png);
  }
  .menu02 .one-menu .section-menu-03 h2::after {
    background-image: url(../img/border-03b.png);
  }
  .menu02 .one-menu h2::after {
    background-image: url(../img/border-04.png);
  }
  .menu03 .one-menu h2::before {
    background-image: url(../img/border-05.png);
  }
  .menu03 .one-menu h2::after {
    background-image: url(../img/border-06.png);
  }
  .menu04 .one-menu h2::before {
    background-image: url(../img/border-07.png);
  }
  .menu04 .one-menu h2::after {
    background-image: url(../img/border-08.png);
  }
}

.homepage .menu01 a {
  background-color: #fcdfdb;
}

.menu01 .menu01 a {
  background-color: #fcdfdb;
}

.menu01 h1,
.menu01 h2.menu-home-title {
  color: #3d1319;
}

.menu01 h1 span,
.menu01 h2.menu-home-title span {
  -webkit-text-fill-color: #3d1319;
  color: #3d1319;
}

.menu01 h2 span,
.menu01 .section-menu {
  color: #3d1319;
}

.homepage .menu02 a,
.menu02 .one-menu {
  background-color: #fff5fe;
}

.menu02 h1,
.menu02 h2.menu-home-title {
  background: -webkit-linear-gradient(left, #e38913, #8f5bfe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu02 h1 span,
.menu02 h2.menu-home-title span {
  -webkit-text-fill-color: #e38913;
  color: #e38913;
}

.menu02 .section-menu {
  color: #c67412;
}

.menu02 .section-menu span:before {
  background-color: #c67412;
}

.menu02 .section-menu-02 {
  color: #a56799;
}

.menu02 .section-menu-02 span:before {
  background-color: #a56799;
}

.menu02 .section-menu-03 {
  color: #6e4ccc;
}

.menu02 .section-menu-03 span:before {
  background-color: #6e4ccc;
}

.homepage .menu03 a,
.menu03 .one-menu {
  background-color: #edefef;
}

.menu03 h1 {
  font-size: 5rem !important;
}

.menu03 h1,
.menu03 h2.menu-home-title {
  background: -webkit-linear-gradient(left, #001ed9, #0889fb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu03 h1 span,
.menu03 h2.menu-home-title span {
  -webkit-text-fill-color: #0889fb;
  color: #0889fb;
}

.homepage .menu04 a,
.menu04 .one-menu {
  background-color: #fdfffd;
}

.menu04 h1 {
  font-size: 5rem !important;
}

.menu04 h1,
.menu04 h2.menu-home-title {
  background: -webkit-linear-gradient(left, #3d923a, #bcfd7e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu04 h1 span,
.menu04 h2.menu-home-title span {
  -webkit-text-fill-color: #72bf56;
  color: #72bf56;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #579c87;
  padding: 1rem 0;
  font-weight: bold;
}

footer .container {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
}

footer .container .mentions-legales h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto 2rem;
}

footer .container .mentions-legales .text {
  padding: 0 1.5rem;
}

footer a {
  -webkit-animation: shake .5s;
          animation: shake .5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

footer a:hover {
  -webkit-animation: none;
          animation: none;
}


/*# sourceMappingURL=main.css.map*/